{% extends 'back.html.twig' %}

{% block title %}Edit Hotel{% endblock %}

{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Edit Hotel</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                    <li class="breadcrumb-item active">Edit Hotel</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Update Hotel</h3>
                    </div>
                    <div class="card-body">
                        {{ form(form, {'attr': {'class': 'form-horizontal'}}) }}
                    </div>
                    <div class="card-footer">
                        <a href="{{ path('app_hotel_index') }}" class="btn btn-secondary">Back to list</a>
                        {{ include('hotel/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
