<form class="delete-form" method="post" action="{{ path('app_transport_delete', {'id': transport.id}) }}" aria-label="Delete Transport Form">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ transport.id) }}">
    <button type="submit" class="delete-btn" aria-label="Confirm Delete Transport">
        <i class="ti-trash"></i> Delete Transport
    </button>
</form>
